.product-list section {
  display: flex;
  gap: 20px;
  overflow-y: auto;
  padding: 20px 0;
}

.product-list section::-webkit-scrollbar {
  width: 1px;
}

.product-list section::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  width: 3px;
  border-radius: 9999px;
  border: 5px solid var(--white);
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .product-list section {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
