.header {
  background-color: var(--gray-1);
  /* padding: 20px; */
}

.header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__button__group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button__sidebar {
  display: flex;
}

.button__sign-in {
  
}

.button__sign-up {
  display: none;
}

.header__search {
  display: flex;
  background-color: white;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
}

.header__search__input {
  border: none;
  outline: none;
}

.header__search__button {
  background-color: var(--color-primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .header__search {
    padding: 5px;
  }
  .header__search__button {
    padding: 10px 16px;
  }
}

@media only screen and (min-width: 768px) {
  /* .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 30px;
  } */

  .button__sign-up {
    display: inline-block;
  }
}

@media only screen and (min-width: 1000px) {
  /* .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 100px;
  } */

  .button__sidebar {
    display: none;
  }
}
